.hidden {
    opacity: 0;
    transition: opacity 4.35s;
}

.hiddenbottom {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: opacity 1.5s ease, transform 1.5s ease, filter 1.5s ease;
}

.hiddenbottom2 {
    transition-delay: 0.2s;
}

.hiddenbottom3 {
    transition-delay: 0.4s;
}

.video {
    width: 100%;
    height: auto;
    filter: saturate(20%);
    border-radius: 0px;
}

.video::-webkit-media-controls {
    display: none;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}

.a {
    display: none;
}

@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400% 0;
    }
}

.div {
    text-align: center;
    /* bottom: 5rem; */
    margin-left: 16px;
    margin-right: 16px;
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    border-radius: var(--border-radius);
    transform: rotate(0deg);
    width: auto;
    margin-bottom: 20px;
    /* height: 2.5rem; */
    /* position: absolute; */
    /* bottom: 50%; 
    left: 50%; */
    /* transform: translate(-50%, 50%); */
}

.relative {
    position: relative;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    color: var(--color-six);
    text-decoration: none;
    font-size: var(--font-size-two);
    font-weight: var(--font-weight-four);
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out 0.3s;
}

.link:hover {
    border-radius: var(--border-radius);
    transform: rotate(0deg);
    color: var(--color-one);
    width: 100%;
    border: none;
}

.link:before {
    content: "";
    background: linear-gradient(
        45deg,
        var(--color-one),
        var(--color-two),
        var(--color-three),
        var(--color-four),
        var(--color-five),
        var(--color-six),
        var(--color-five),
        var(--color-four),
        var(--color-three),
        var(--color-two),
        var(--color-one)
    );
    position: absolute;
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: glowing-button 10s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: var(--border-radius);
    left: -2px;
    top: -2px;
    box-shadow: var(--color-two) 0px 2px 4px 0px,
        var(--color-two) 0px 2px 16px 0px;
}

.link:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: linear-gradient(
        -20deg,
        var(--color-two),
        var(--color-three),
        var(--color-two)
    );
    left: 0;
    top: 0;
    border-radius: var(--border-radius);
}

.link:hover:after {
    background: linear-gradient(
        -20deg,
        var(--color-five),
        var(--color-six),
        var(--color-five)
    );
}

.section1 {
    margin-top: 0px;
    /* padding: 16px 20px 0px 35px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    font-weight: 900;
    /* Optional: Adjust top and other properties as needed */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: var(--color-one);
    font-size: var(--font-size-four);
}

.p4 {
    margin-bottom: 0px;
    font-size: var(--font-size-one);
}

.p5 {
    margin-top: 0px;
    font-size: var(--font-size-two);
}

.section2 {
    background-color: var(--color-one);
    border-radius: var(--border-radius);
    margin-top: 20px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px var(--color-section-box-shadow);
}

.ul {
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.li {
    display: flex;
}

.p1 {
    margin: 0px;
    width: 50%;
    text-align: right;
    padding-right: 12px;
}

.h3 {
    color: var(--color-five);
    font-weight: var(--font-weight-three);
    font-size: var(--font-size-three);
    text-align: left;
    margin-right: auto;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.icon {
    font-size: 1.75rem;
    margin: 0px;
    color: var(--color-four);
}

.section3 {
    display: grid;
    padding: 0px 16px;
    /* height: 12vh; */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: transparent;
}

.div2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.div2 {
    width: 100%;
    height: calc(100% - 41px);
    min-width: 0;
    /* box-shadow: 0px 0px 10px 0px var(--color-section-box-shadow); */
    border-radius: var(--border-radius);
}

/* .div3 {
    width: 100%;
    border-radius: 25px 25px 0 0;
    background-color: var(--color-one);
} */

.p2 {
    margin: 0px;
    text-align: center;
    width: 100%;
    background-color: var(--color-two);
    border-radius: var(--border-radius);
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: 0px;
    box-shadow: 0px 0px 10px 0px var(--color-section-box-shadow);
    /* border-top: 1px solid;
    border-image: linear-gradient(
        to right,
        transparent,
        var(--color-three),
        var(--color-three),
        transparent
    ); */
    border: 1px solid var(--color-three);
    border-image-slice: 1;
}

.section4 {
    margin: 16px;
    padding: 15px;
    background-color: var(--color-one);
    border-radius: var(--border-radius);
    gap: 36px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px var(--color-section-box-shadow);
}

.image {
    width: 100%;
    height: auto;
}

.h32 {
    color: var(--color-five);
    font-weight: var(--font-weight-three);
    font-size: var(--font-size-three);
    display: inline-block;
    margin: 0px;
}

.div3 {
    margin: 0;
    padding: 0px 10px;
}

.div4 {
    display: flex;
    gap: 0.5rem;
}

.p3 {
    margin: 0px;
}

.ol {
    margin: 0px;
    list-style: none;
    gap: 18px;
    display: flex;
    flex-direction: column;
    padding: 9px;
    padding-left: 40px;
}

/* ipad */
@media (min-width: 600px) and (max-width: 1024px) {
}

/* laptop */
@media (min-width: 1024px) and (max-width: 2499px) and (orientation: landscape) {
    .video {
        width: 50%;
        height: auto;
        object-fit: cover;
        /* margin-bottom: 12px; */
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: var(--border-radius);
    }

    .div {
        /* top: 500px; */
        /* width: 28rem; */
        margin-left: 25%;
        margin-right: 25%;
    }

    .link {
        font-size: var(--font-size-two);
    }

    .link:before {
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        left: -4px;
        top: -4px;
    }

    .section1 {
        margin-left: 25vw;
        margin-right: 25vw;
        padding-bottom: 20px;
        margin-top: 0px;
    }

    .section2 {
        margin: 0px 25vw;
    }

    .ul {
        gap: 20px;
    }

    .section3 {
        margin: 0px 25vw;
        padding: 20px 0px;
        height: 27vh;
    }

    .section4 {
        margin: 0px 25vw 16px 25vw;
        display: flex;
        overflow: hidden;
        overflow-x: auto;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        gap: 50px;
        flex-direction: row;
    }

    .section4::-webkit-scrollbar {
        display: none;
    }

    .image {
        display: block;
        width: calc(50vw - 15px);
        scroll-snap-align: center;
    }

    .h32 {
        display: block;
    }

    .div3 {
        padding: 0px;
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }

    .div4 {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-top: 0rem;
    }

    .ol {
        width: 44vw;
        scroll-snap-align: center;
        gap: 34px;
        margin-top: 10px;
    }
}

/* big screen */
@media only screen and (min-width: 2500px) {
}
