@import url("https://fonts.googleapis.com/css?family=Roboto:thin,light,medium,black");

:root {
    --color-one: rgb(250, 250, 250);
    --color-one-transparent: rgba(250, 250, 250, 0.7);
    --color-two: rgb(237, 246, 252);
    --color-three: rgb(168, 210, 216);
    --color-four: rgb(121, 161, 176);
    --color-five: rgb(88, 149, 166);
    --color-six: rgb(47, 95, 110);
    --color-dropdown: rgba(128, 128, 128, 0.1);
    --color-header-dropdown: rgba(250, 250, 250, 0.1);
    --font-family: "Inter", "Roboto", sans-serif;
    --border-radius: 25px;
    --font-size-two: 1.2rem;
    --font-size-three: 1.6rem;
    --font-size-four: 2rem;
    --font-weight-two: 300;
    --font-weight-three: 500;
    --font-weight-four: 900;
    --color-drop-down-box-shadow: rgba(25, 25, 25, 0.2);
    --color-section-box-shadow: rgba(121, 161, 176, 0.15);
}

html {
    background-color: var(--color-two);
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    background: var(--color-two);
}

::-webkit-scrollbar-track {
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
    background: var(--color-one);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-four);
}

body {
    margin: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: var(--font-weight-two);
    color: var(--color-four);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    text-decoration: none;
    color: var(--color-four);
}

.subPage {
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

Link {
    text-decoration: none;
}

section {
    margin-top: 16px;
    background-color: var(--color-one);
    border-radius: var(--border-radius);
    padding: 16px;
}

canvas {
    /* border-radius: var(--border-radius) var(--border-radius) 0 0; */
    cursor: pointer;
    /* width: 100%;
    height: 100%; */
}

/* ipad */
@media (min-width: 600px) and (max-width: 1024px) {
    html {
    }
}

/* laptop */
@media (min-width: 1024px) and (max-width: 2499px) and (orientation: landscape) {
    html {
        background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-two),
            var(--color-one)
        );
    }
}

/* big screen */
@media only screen and (min-width: 2500px) {
    html {
        background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-two),
            var(--color-one)
        );
    }
}
