.header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    position: absolute;
    width: calc(100% - 30px);
    top: 0;
    z-index: 1;
    gap: 1rem;
    border-bottom: 2px solid;
    border-image: linear-gradient(
        to right,
        transparent,
        var(--color-one),
        var(--color-one),
        transparent
    );
    border-image-slice: 1;
    padding: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    box-shadow: var(--footer-box-shadow);
}

.logoImage {
    display: flex;
    transition: ease 0.3s;
    margin-left: 5px;
    margin-top: 1px;
}

.logoImage:hover {
    filter: brightness(115%) saturate(90%);
}

.dropdown {
    position: relative;
    transition: color 0.3s ease-in-out;
    align-items: center;
}

.button {
    color: var(--color-three);
    font-size: var(--font-size-four);
    background-color: transparent;
    border: none;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    padding: 0;
    display: flex;
    background: none;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
}

.svg {
    cursor: pointer;
}

.profilePic {
    border-radius: 50%;
    margin-top: 4px;
}

.profilePic:hover {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    right: 13px;
    padding: 8px;
    border: 1px solid var(--color-four);
    top: calc(100% + 0.25rem);
    background-color: var(--color-header-dropdown);
    border-radius: var(--border-radius);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 10px 0px var(--color-drop-down-box-shadow);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
    margin: 0px;
    background-color: var(--color-dropdown);
    align-items: flex-start;
}

.dropdown-menu {
    /* display: flex;
    flex-direction: column; */
    /* border: 1px solid var(--color-five); */
    /* padding: 7px; */
}

.ul {
    margin: 0px;
    padding: 0.5rem;
}

.li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.div {
    display: flex;
}

.p {
    color: var(--color-five);
    margin: 0px;
    padding-left: 8px;
}

.profilePicInput {
    background-color: transparent;
    color: var(--color-six);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-five);
}

.profilePicInput::placeholder {
    background-color: transparent;
    color: var(--color-five);
}

.profilePicInput:focus {
    outline: 2px solid var(--color-six);
}

.link {
    border: none;
    color: var(--color-five);
    font-size: var(--font-size-two);
    background-color: transparent;
    font-weight: 300;
    cursor: pointer;
    border-radius: 10px;
    padding: 2px;
    display: flex;
    white-space: nowrap;
    font-size: 1.25rem;
}

.link:hover {
    text-decoration: underline;
}

.svg2 {
    padding-top: 4px;
    padding-right: 3px;
    color: var(--color-five);
}

.dropdown.active > .button,
.button:hover {
    color: var(--color-four);
}

.dropdown.active .button + .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.svg3 {
    font-size: 40px;
}

.p2 {
    display: none;
    margin: 0px;
}

.dropdown-menu-one {
    right: -10px;
}

.dropdown-menu-two {
    right: -5px;
}

.dropdown-menu-three {
    right: -10px;
}

.dropdown-menu-four {
    right: -10px;
}

/* ipad */
@media (min-width: 600px) and (max-width: 1024px) {
}

/* laptop */
@media (min-width: 1024px) and (max-width: 2499px) and (orientation: landscape) {
    .header {
        padding: 10px;
        padding-left: 25%;
        padding-right: 25%;
        width: 50%;
    }

    .svg3 {
        display: none;
    }

    .p2 {
        display: block;
        color: var(--color-four);
    }

    .dropdown-menu-one {
        right: -5px;
    }

    .dropdown-menu-two {
        right: 20px;
    }

    .dropdown-menu-three {
        right: -7px;
    }

    .dropdown-menu-four {
        right: -20px;
    }
}

/* big screen */
@media only screen and (min-width: 2500px) {
}
