.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(16, 16, 16, 0);
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    gap: 1rem;
}

.img {
    display: flex;
    transition: ease 0.3s;
    margin-left: 5px;
    margin-top: 1px;
}

.img-hover:hover {
    filter: brightness(115%) saturate(90%);
}
