.home {
    height: 100vh;
    background-color: var(--color-one);
}

.div {
    /* height: calc(100vh - 74px); */
    padding-top: 0px;
    /* padding-bottom: 16px; */
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
}

.p {
    position: absolute;
    left: 26.1%;
    top: 5rem;
    font-size: 1.5rem;
    font-weight: 900;
    display: none;
    z-index: 4;
}

.p::before {
    content: "\2B8B";
    transform: rotate(180deg);
    font-size: 3rem;
    vertical-align: middle;
    position: absolute;
    left: -0.75rem;
    top: -1.4rem;
    transition: transform 0.3s ease;
}

.p:hover::before {
    transform: translateY(-30px) rotate(180deg);
}

.section1 {
    /* flex: 4; */
    color: var(--color-five);
    padding: 0px;
    height: calc(100vh);
    /* width: 100vw; */
    z-index: 0;
    margin-top: 0px;
    background-color: var(--color-two);
    border-radius: 0px;
}

.downloadButton {
    background-color: var(--color-five);
    border: none;
    border-radius: var(--border-radius);
    padding: 6px;
    font-weight: 500;
    color: var(--color-two);
    font-size: 1rem;
    position: absolute;
    top: 9%;
    right: 16px;
    width: 6rem;
}

.downloadButton:active {
    background-color: var(--color-three);
    color: var(--color-two);
}

.downloadButton:hover {
    cursor: pointer;
}

.section2 {
    /* flex: 2; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0px;
    border: 1px solid var(--color-three);
    padding: 0px;
    height: 40vh;
    z-index: 2;
    position: absolute;
    bottom: 16px;
    width: calc(100% - 32px);
    background-color: var(--color-one-transparent);
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 10px 0px var(--color-drop-down-box-shadow);
}

.div1 {
    flex-grow: 1;
    flex-basis: 0;
    padding: 16px;
    overflow-y: auto;
    background-color: transparent;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

.p2 {
    color: var(--color-five);
    margin: 0px;
    scroll-snap-align: end;
}

.div2 {
    display: flex;
    border-top-left-radius: 0;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: 0;
    align-items: center;
    background-color: transparent;
    border-top: 1px solid var(--color-three);
}

.audioButton {
    padding: 11px 12px 11px 16px;
    background-color: transparent;
    border: none;
    border-bottom-left-radius: var(--border-radius);
    border-right: 1px var(--color-three) solid;
}

.audioButton:hover {
    cursor: pointer;
}

.svg {
    font-size: var(--font-size-three);
    color: var(--color-three);
}

.svg:active {
    color: var(--color-three);
}

.textInput {
    margin: 0px auto;
    color: var(--color-six);
    font-size: var(--font-size-three);
    font-weight: 100;
    background-color: transparent;
    width: 100%;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 1rem;
}

.textInput::placeholder {
    margin: 0px auto;
    color: var(--color-four);
    background-color: transparent;
}

.textInput:focus {
    outline: none;
}

.inputButton {
    padding: 8px;
    border-bottom-right-radius: var(--border-radius);
    background-color: transparent;
    border: none;
    font-size: var(--font-size-three);
    color: var(--color-three);
    transition: ease 0.2s;
    border-left: 1px var(--color-three) solid;
}

.inputButton:active {
    background-color: var(--color-three);
    color: var(--color-two);
}

.inputButton:hover {
    cursor: pointer;
}

/* ipad */
@media (min-width: 600px) and (max-width: 1024px) {
}

/* laptop */
@media (min-width: 1024px) and (max-width: 2499px) and (orientation: landscape) {
    .p {
        display: inline-block;
    }

    .div {
        /* margin-left: 25%;
        margin-right: 25%; */
    }

    .section1 {
        border-radius: var(--border-radius);
        margin: 0px;
    }

    .downloadButton {
        top: 12%;
        left: 68.5%;
    }

    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 26%;
        margin-right: 26%;
        /* border: 1px solid var(--color-six); */
        padding: 0px;
        height: 40vh;
        width: 48vw;
        z-index: 2;
        position: absolute;
        bottom: 16px;
        /* left: 50%;
        transform: translateX(-50%); */
    }
}

/* big screen */
@media only screen and (min-width: 2500px) {
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
} */

/* @media (prefers-color-scheme: dark) {
} */
