.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding-top: 40vh;
    padding-left: 4rem;
    padding-right: 4rem;
}
