.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding-top: 40vh;
    padding-left: 4rem;
    padding-right: 4rem;
}

/* ipad */
@media (min-width: 600px) and (max-width: 1024px) {
}

/* laptop */
@media (min-width: 1024px) and (max-width: 2499px) and (orientation: landscape) {
    .login {
        margin-left: 25%;
        margin-right: 25%;
    }
}

/* big screen */
@media only screen and (min-width: 2500px) {
}
