.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.about {
}

.api {
    height: calc(100vh - 136px);
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: var(--color-two);
}

.austencabret {
    height: calc(100vh - 136px);
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: var(--color-two);
}

.contacts {
    height: calc(100vh - 136px);
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: var(--color-two);
}

.docs {
    height: calc(100vh - 136px);
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: var(--color-two);
}

.finances {
    height: calc(100vh - 136px);
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: var(--color-two);
}

.footer {
    padding: 15px;
    font-weight: 300;
    display: flex;
    transition: all 0.3s ease-in-out;
    justify-content: space-between;
    box-shadow: var(--footer-box-shadow);
    background-color: var(--color-one);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(16, 16, 16, 0);
    align-items: center;
    /* position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    gap: 1rem; */
}

.home {
    height: 100vh;
    background-color: var(--color-one);
}

.legal {
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: var(--color-two);
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding-top: 40vh;
    padding-left: 4rem;
    padding-right: 4rem;
}

.news {
    height: calc(100vh - 136px);
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: var(--color-two);
}

.pricing {
    height: calc(100vh - 136px);
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: var(--color-two);
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding-top: 40vh;
    padding-left: 4rem;
    padding-right: 4rem;
}

.team {
    height: calc(100vh - 136px);
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: var(--color-two);
}

@media (orientation: landscape) {
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
} */

/* @media (prefers-color-scheme: dark) {
} */
